body{
	background-image:url("anh/image/titan.jpg");
}

.menubar img {
	position: absolute;
}
* {
	max-width: 1000px;
 	margin:auto;
 	padding:0;
}
.logo img {
	height : 300px;
	width: 1200px;
	max-width: 100%;
	max-height: 300px;

}
.menubar ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;

 
}


.menubar ul li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  position: relative;
}

.menubar ul li a{
	color:white;
	text-decoration: initial;
	display: block;
	-webkit-transform:scale(0.9); 
-moz-transform:scale(0.8); 
-o-transform:scale(0.8); 

-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s; 
-o-transition-duration: 0.5s; 
opacity: 0.7; 
}

.menubar ul li a:hover {
		-webkit-transform:scale(1.4); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
box-shadow:0px 0px 30px white; 
-webkit-box-shadow:0px 0px 30px white; 
-moz-box-shadow:0px 0px 30px white; 
opacity: 1;

	}

.menubar ul li .submenu {
	display: none;
	position:absolute;
}
.menubar li:hover .submenu {

 display: block;
}
.submenu li {
 margin-left: 0 !important;
}
.menubar{}
	  /*margin-left: 185px;
    	//width: 1000px;*/

 .hang2 img{
 		max-width:33%;
 		height: 300px;
 		margin-top:30px;
 		border-radius:10%;
 		overflow: hidden;
 		-webkit-transform:scale(0.8); 
-moz-transform:scale(0.8); 
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s; 
-o-transition-duration: 0.5s; 
opacity: 0.7; 
 }
 #chat img{
	padding:5px;
	width:100px !important;
	 right: 30px;
	 bottom: 40px; 
	 width: 100px;
    height: 100px;
  background: red;
    position: fixed;
    -webkit-animation: myfirst 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s infinite;
    animation-direction: alternate;
    border-radius: 50%

}
@-webkit-keyframes myfirst {
    0%   {background: red; right: 0px; bottom: 0px;}
    25%  {background: yellow; right: 100px; bottom: 0px;}
    50%  {background: blue; right: 100px; bottom: 200px;}
    75%  {background: green; right: 0px; bottom: 200px;}
    100% {background: red; right: 0px; bottom: 0px;}
}

@keyframes myfirst {
    0%   {background: red; right: 0px; bottom: 0px;}
    25%  {background: yellow; right: 100px; bottom: 0px;}
    50%  {background: blue; right: 100px; bottom: 100px;}
    75%  {background: green; right: 0px; bottom: 100px;}
    100% {background: red; right: 0px; bottom: 0px;}
}
    .hang2 img:hover{
 	-webkit-transform:scale(1.2); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
box-shadow:0px 0px 30px blue; 
-webkit-box-shadow:0px 0px 30px blue; 
-moz-box-shadow:0px 0px 30px blue; 
opacity: 1;

 	
 }
 .hang2 a:active{
 	 	-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1);
-o-transform:scale(1.1); 
box-shadow:0px 0px 30px blue; 
-webkit-box-shadow:0px 0px 30px blue; 
-moz-box-shadow:0px 0px 30px blue; 
opacity: 1;
 }
